@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: "Playfair Display", serif;
}

/* Root */
.border-left-4caf50{
  border-left: 5px solid #4caf50;
}

.border-4caf50{
  border: 5px solid #4caf50;
}

.text-3b6b26{
  color: #3b6b26;
}
.text-333333{
  color: #333333;
}
.text-2c3e50{
  color: #2c3e50 !important;
}
.text-4b5563{
  color: #4b5563;
}
.text-374151{
  color: #374151;
}

.fw-500{
  font-weight: 500;
}

.bg-f9fafb{
  background: #f9fafb;
}
.bg-f4f4f4{
  background: #f4f4f4;
}
.bg-f4aa6f{
  background: #f4aa6f;
}
.bg-f4a261{
  background: #f4a261;
}
.bg-1c2833{
  background: #1c2833;
}
.bg-2c3e50{
  background: #2c3e50;
}
.bg-edf7ed{
  background: #edf7ed;
}
.bg-4caf50{
  background: #4caf50;
}
.bg-1e3e50{
  background: #1e3e50;
}

.h-10px{
  height: 10px;
}

@media screen and (min-width : 992px) {
  .h-100vh{
    height: 100vh;
  }
  .main-section{
    height: 100%;
  }
}

.fs-10px{
  font-size: 10px;
}


/* NavBar */
.navbar-toggler:focus {
  box-shadow: none !important;
}

.blur-navbar{
  backdrop-filter: blur(9.3px);
  background: rgba(244, 244, 244, 0.2);
}

/* Main Section */
.profilepic-height{
  height: 420px;
  width: 420px;
}
@media screen and (max-width : 992px) {
  .profilepic-height{
    height: 300px;
    width: 300px;
  }
}


.view-work-btn:hover, .submit-btn:hover{
  background: #405060;
}
.download-resume-btn:hover{
  background: #f4aa6f;
}


/* Contact */
.input-group input:focus, .input-group textarea:focus{
  border: 1px solid #dee2e6 !important;
  box-shadow: none !important;
}
.input-group input, .input-group textarea{
  color: black;
  font-weight: 600;
}